<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/projects/smart" class="al-logo clearfix"><span>C</span>ementify</a>
  <a href class="collapse-menu-link ion-navicon" ng-if="showSideBar" ba-sidebar-toggle-menu></a>

  <div class="search" ng-style = "{ 'overflow' : 'inherit'}">
    <div class="btn-group dropdown-toggle" uib-dropdown keyboard-nav>
        <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
            Projects  <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li role="menuitem"><a href="#">Project 1</a></li>
            <li role="menuitem"><a href="#">Project 2</a></li>
            <li role="menuitem"><a href="#">Project 3</a></li>
            <li role="menuitem"><a href="#">Project 4</a></li>
            <li role="menuitem"><a href="#">Project 5</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="#/projects/smart">View All Projects</a></li>
        </ul>
    </div>
  </div>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Nasta' | profilePicture )}}">
      </a>
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href><i class="fa fa-cog"></i>Settings</a></li>
        <li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
      </ul>
    </div>
    <div class="al-user-profile languageSelect" ng-style = "{ 'width' : '101px'}">
      <select class="form-control" title="Language" data-style="btn-success" data-container="body" selectpicker>
        <option>English</option>
        <option>Hindi</option>
        <option>Urdu</option>
        <option>Marathi</option>
      </select>
    </div>
    <msg-center></msg-center>
  </div>
</div>
